<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/forgot_password.css">
    
    <title>Forgot Password</title>
  </head>
  <body>
    <h1>Enter your registered email below</h1>
    <form method="post" action="/forgot-password">
      <p>
        <label for="email">Email Address:</label>
        <input type="email" name="email" id="email" required>
      </p>
      <button type="submit">Reset Password</button>
    </form>
  </body>
</html>
