<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/forgot_password.css">
</head>
<body>
  <div class="container">
		<div class="logo">
			<img src="/images/getscratchpad.png" alt="Logo">
			<div class="social-login">
				<h3>Login using social media to get quick access</h3>
				<div class="social-login-buttons">
					<button><img src="https://s.yimg.com/fz/api/res/1.2/SBnTtvtkyJXCCDtTnKcQUw--~C/YXBwaWQ9c3JjaGRkO2ZpPWZpdDtoPTI0MDtxPTgwO3c9MjQw/https://s.yimg.com/zb/imgv1/c165dc31-f7f7-35c4-8df4-cdd842798724/t_500x300" alt="Facebook"></button>
					<button><img src="https://s.yimg.com/fz/api/res/1.2/Qpybtr24YAUp2UGFYg1M5A--~C/YXBwaWQ9c3JjaGRkO2ZpPWZpdDtoPTI0MDtxPTgwO3c9MjQw/https://s.yimg.com/zb/imgv1/fe90b2b3-0ac3-3c81-8238-d3724bf23104/t_500x300" alt="Google"></button>
					<button><img src="https://s.yimg.com/fz/api/res/1.2/WcH8VDX4XMZLqOT_1QFeJQ--~C/YXBwaWQ9c3JjaGRkO2ZpPWZpdDtoPTI0MDtxPTgwO3c9MjQw/https://s.yimg.com/zb/imgv1/efb32ac1-ab75-3801-aee1-666cdf999dfa/t_500x300" alt="Twitter"></button>
				</div>
			</div>
		</div>
  <div class="container">
	<div class="form-container">
		<h2>Recover Your Password</h2>
		<p>Fill in your e-mail address below and we will send you an email with further instructions.</p>
		<form id="password-recovery-form">
			<label for="email" aria-label="Email Address"></label>
			<input type="email" id="email" name="email" required placeholder="Email Address">
			<input type="submit" value="Submit">
		</form>
		<div class="login-link">
			Already have an account? <a href="http://localhost:8000/login" id="login-link">Login Here</a>
		</div>
	</div>
</div>

</body>
<script src="/script.js"></script>
</html>