<!DOCTYPE html>
<html>
<head>
	<title>Login and Sign-up Page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/signup.css">
</head>
<body>
	<div class="container">
		<div class="logo">
			<img src="/images/getscratchpad.png" alt="Logo">
			<div class="social-login">
				<h3>Login using social media to get quick access</h3>
				<div class="social-login-buttons">
					<button><img src="https://s.yimg.com/fz/api/res/1.2/SBnTtvtkyJXCCDtTnKcQUw--~C/YXBwaWQ9c3JjaGRkO2ZpPWZpdDtoPTI0MDtxPTgwO3c9MjQw/https://s.yimg.com/zb/imgv1/c165dc31-f7f7-35c4-8df4-cdd842798724/t_500x300" alt="Facebook"></button>
					<button><img src="https://s.yimg.com/fz/api/res/1.2/Qpybtr24YAUp2UGFYg1M5A--~C/YXBwaWQ9c3JjaGRkO2ZpPWZpdDtoPTI0MDtxPTgwO3c9MjQw/https://s.yimg.com/zb/imgv1/fe90b2b3-0ac3-3c81-8238-d3724bf23104/t_500x300" alt="Google"></button>
					<button><img src="https://s.yimg.com/fz/api/res/1.2/WcH8VDX4XMZLqOT_1QFeJQ--~C/YXBwaWQ9c3JjaGRkO2ZpPWZpdDtoPTI0MDtxPTgwO3c9MjQw/https://s.yimg.com/zb/imgv1/efb32ac1-ab75-3801-aee1-666cdf999dfa/t_500x300" alt="Twitter"></button>
				</div>
			</div>
		</div>
	<div class="signup-container" >
	<h2>Sign Up for Free!</h2>
	<form id="signup-form">
		<label for="fullname" aria-label="Full Name"></label>
		<input type="text" id="fullname" name="fullname" required placeholder="Full Name">
		<label for="email" aria-label="Email Address"></label>
		<input type="email" id="email" name="email" required placeholder="Email Address">
		<label for="password" aria-label="Password"></label>
		<input type="password" id="password" name="password" required placeholder="Password">
		<div class="checkbox-container">
			<input type="checkbox" id="privacy-policy" name="privacy-policy" required>
			<label for="privacy-policy">I agree to the <a href="http://localhost:8000/privacypolicy">privacy policy</a> and <a href="http://localhost:8000/termsofuse">terms of service</a>.</label>
		</div>
		<input type="submit" value="Sign Up with email" class="signupbtn">
	</form>
	<div class="login-link">
		Already have an account? <a href="http://localhost:8000/login">Log in</a>
	</div>
</div>
</body>
<script src="/script.js"></script>
</html>

	
	


