/* Styles for the container that holds both the social login and sign-up sections */
body {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-image: url(https://t3.ftcdn.net/jpg/03/55/60/70/360_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg);
  margin-left: 30vh;
  margin-right: 30vh;
  width: 70%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Styles for the logo and social login section on the left */
.logo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  height: 70vh;
  background-color: #4f4d4d;
  color: #f5f5f5;
}

.social-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.logo img {
  max-width: 200px;
}
.social-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}


.social-login h3 {
  margin-bottom: 10px;
}

.social-login-buttons {
  display: flex;
  flex-direction: row;
}
.social-login-buttons button img {
  max-width: 30px;
}

.social-login-buttons button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}


/* Styles for the sign-up section on the right */
.signup-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cac2c2;
  box-shadow: 0 0 5px rgba(80, 14, 14, 0.1);
  height: 70vh;
  align-items: center;
}

.signup-container h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

#signup-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
}

input[type="submit"] {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #0069d9;
}

.checkbox-container {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 0.5rem;
}

.login-link {
  font-size: 0.9rem;
  margin-top: 1rem;
  text-align: center;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}